@model APP_MARKEPLACE.Entity.Usuario

@{
    ViewBag.Title = "Registrar_usuario";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<head>
    @Styles.Render("~/Content/CSS004")
</head>
<aside class="aside">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <h2>Registrar</h2>
            <div class="col">

                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "t1", Type = "text", placeholder = "Nombre usuario" } })

                @Html.DropDownList("idpais", (SelectList)ViewBag.pais, new { @class = "t1", placeholder = "Pais"  })

                @Html.DropDownList("idsexo", (SelectList)ViewBag.sexo, new { @class = "t1", placeholder = "Sexo" } )

                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "t1", placeholder = "Email" } })

                @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "t1", placeholder = "Contraseña", type = "password" } })

                @Html.EditorFor(model => model.confir_contraseña, new { htmlAttributes = new { @class = "t1", placeholder = "Confirmar contraseña", type = "password" } })

                <input type="submit" value="Create" class="btnRegistrar" />

            </div>
        </div>
    }
</aside>
